<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Demo Page</title>
	</head>
	<body>
		<h1>Demo Page</h1>
		<div>
			<form action="{{url_for('upload_done')}}" method="get">
				<div>
					<input type="text" name="url" placeholder="Input URL" id="url">
					<button type="submit">Send</button>
				</div>
				<div>
					<table>
						<th>{{input}}</th>
						<th>{{output}}</th>
					</table>
				</div>
			</form>
		</div>
		<div>
			<form action="{{url_for('qa_done')}}" method="get">
				<div>
					<input type="text" name="question" placeholder="Input Question" id="question">
					<button type="submit">ASK</button>
				</div>
				<div>
					<table>
						<th>{{question}}</th>
						<th>{{answer}}</th>
					</table>
				</div>
			</form>
		</div>
	</body>
</html>